/* Light mode */
html.light {
    background-color: white;
    color: black;
}

/* Dark mode */
html.dark {
    background-color: black;
    color: white;
}

/* Centering the Logo and PFP(POV: Desktop) */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17%;
}

/* Changing the font and size of the heading */
#scratchFindHeading {
    font-size: 100px;
    font-family: "Lucida Console", "Courier New", monospace;
}

/* Centering */
h1, p {
    text-align: center;
}

p {
    font-size: 2rem;
}

/* Input area styling */
#url {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px 16px;
    font-size: 1rem;
}

#drop {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 15px 10px;
    font-size: 1rem;
}

#inputDrop {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#submit {
    display: block;
    margin: auto;
}

/* Slider */
.switch {
    position: fixed;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 10px;
    right: 10px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}