/* Light mode */
html.light {
    background-color: white;
    color: black;
}

html.dark {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

input {
    text-align: center;
}